.wrapper{

}
body{
  background-color: #1A232E;
  padding-top: 50px;
}
svg {
  font-family: "Helvetica Neue", Helvetica;
}
.line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}
svg .currentRegion{
 font-weight: bold;
 font-size: 12px;
}
svg .x-axis{
 color: #000;
}
.play-btn {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 40px;
  border-color: transparent transparent transparent rgba(54,162,235,1);
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 20px 0 20px 30px;
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 0;
}
.play-btn.paused {
  border-style: double;
  border-width: 0px 0 0px 30px;
}
.play-btn:hover {
  border-color: transparent transparent transparent rgba(54,162,235,0.7);
}
.digits{
  display: inline-block;
  color:white;
  margin-left: 80px;
  text-decoration:underline;
}
svg {
  font-family: "Helvetica Neue", Helvetica;
}
#nav {
  margin-top: 5px;
  margin-bottom: 5px;
}

#nav ul {
  float: none;
  margin: 0 auto;
  padding: 0;
  display: block;
  text-align: center;
}
#nav ul li {
  display: inline-block;
  float: none;
  padding: 10px 0;
}
#nav ul li a ,
#nav ul li select{
  border: 1px solid black;
  border-radius: 30px;
  color: black;
  font-size: 14px;
  font-weight: 100;
  margin: 0 10px;
  padding: 8px 12px;
  background-color: white;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}
#nav ul li a:hover{
  text-decoration: none;
  background-color: rgb(230, 227, 227);
}

#nav ul li  select,
#nav ul li select:hover{
  background-color: #407be6;
  text-align: center;
  color: #fff;
  text-align-last:center;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}
.axis path{
  fill: none;
  stroke: none;
}
.axis text {
  font-family: sans-serif;
  font-size: 11px;
  fill: #fff;
}
rect.bordered {
  stroke: #fff;
  stroke-width:1px;
}
.square{
  /*opacity: 0.8;*/
}
.square:hover{
  /*opacity: 1;*/
}
.square.current{
  stroke: #fff;
  stroke-width: 2px;
}
.wrapper::before{
  padding-top: 56.25%;
}
.d3-tip,
.stacked-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after,
.stacked-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
}

/* Nrthward tooltips */
.d3-tip.n:after,
.stacked-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after,
.stacked-tip.e:after {
  content: "\25C0";
  margin: 2px 0 0 0;
  top: 50%;
  left: -6px;
}

/* Southward tooltips */
.d3-tip.s:after,
.stacked-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after,
.stacked-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

.hide {
  display: none;
}
.matrixDesc{
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 100;
}
.card-body {
  color: #111;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  max-width: 600px;
}
.card-body ul{padding:0; margin: 0;}

#pieChart path.slice{
  stroke-width:2px;
}
#pieChart polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}
#pieChart svg text.percent{
  fill:white;
  text-anchor:middle;
  font-size:12px;
}


.esriSimpleSlider span{
  position: relative;
  bottom: 4px;
}



.aster-score{
  color: white;
}


.invisible{
  display: none;
}
.visible{
  display: block;
}

#kostanay{
  z-index: 99;
  position: absolute;
  margin-left: 215px;
  margin-top: 130px;

}
#aktubinsk{
  z-index: 99;
  position: absolute;
  margin-left: 160px;
  margin-top: 180px;

}

#astana{
  z-index: 99;
  position: absolute;
  margin-left: 275px;
  margin-top: 145px;

}

#ZKO{
  z-index: 99;
  position: absolute;
  margin-left: 80px;
  margin-top: 140px;

}

#mangystau{
  z-index: 99;
  position: absolute;
  margin-left: 90px;
  margin-top: 250px;

}

#almaty{
  z-index: 99;
  position: absolute;
  margin-left: 380px;
  margin-top: 265px;

}

#SKO{
  z-index: 99;
  position: absolute;
  margin-left: 275px;
  margin-top:100px;

}

#akmola{
  z-index: 99;
  position: absolute;
  margin-left: 300px;
  margin-top: 130px;

}

#pavlodar{
  z-index: 99;
  position: absolute;
  margin-left: 350px;
  margin-top: 120px;

}

#karaganda{
  z-index: 99;
  position: absolute;
  margin-left: 300px;
  margin-top: 200px;

}

#atyrau{
  z-index: 99;
  position: absolute;
  margin-left: 90px;
  margin-top: 185px;

}

#almatinskaya{
  z-index: 99;
  position: absolute;
  margin-left: 380px;
  margin-top: 240px;

}

#UKO{
  z-index: 99;
  position: absolute;
  margin-left: 265px;
  margin-top: 295px;

}

#VKO{
  z-index: 99;
  position: absolute;
  margin-left: 425px;
  margin-top: 175px;

}

#Zhambyl{
  z-index: 99;
  position: absolute;
  margin-left: 310px;
  margin-top: 265px;
}

#Kyzylorda{
  z-index: 99;
  position: absolute;
  left: 220px;
  top: 280px;
}
.map_digits{
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  padding:0 10px;
  background: gray;
  background-color: rgba(149, 165, 166, 0.7);
  border-radius: 20%;
  border: 2px solid #1a4189;
}
.col-4half{
  position:relative;
  width:100%;
  min-height:1px;
  padding-right:15px;
  padding-left:15px
}
.col-4half{
  -ms-flex: 0 0 37.5%;
  flex:0 0 37.5%;
  max-width:37.5%;
}
.col-3half{
  position:relative;
  width:100%;
  min-height:1px;
  padding-right:15px;
  padding-left:15px
}
.col-3half{
  -ms-flex: 0 0 29.16667%;
  flex:0 0 29.16667%;
  max-width:29.16667%;
}
#map{
  height: 265px;
}
.d3-tip{
  z-index: 100;
}
.indicator-name-container{
  color: white;
  text-align: center;
  width: 100%;
  word-break: break-all;
  margin-bottom:15px;
}
.indicator-name-container span{
  font-size: 18px;
  margin:35px;
  display:block;
  word-break:break-all;
}

.tooltipster-base{
  left: 385px!important;
  top: 307px!important;
}

.tooltipster-base li{
  padding-bottom: 2px;
}

#ind_value_p{
  font-size: 15px;
  color: rgb(178, 178, 252);
}
#date{
  font-size: 15px;
  position: relative;
  left: 20px;
  top: 2px;
}

.button-blue{
  background:#1e2141 url('../images/loopa.png');
  background-size: 28px 28px;
  background-repeat: no-repeat;
  border-radius: 15px;
  border: 2px solid #1a4189;
  font-size: 13px;
  display: inline-block;
  box-shadow: 0px 0px 27px rgba(45, 50, 143, 0.8);
  outline: none;
  text-align: center;
  transition: .4s;
  background-position: 97% center;
  padding-left: 10px;
  padding-right: 35px;

}

.button-blue:hover{
  text-decoration: none;
  box-shadow: 0px 0px 40px rgba(45, 50, 143, 0.8);
}

.piechart_container .button-blue{
  width: 48%;
}

.chart-labels{
 display: -webkit-flex;
 display: -moz-flex;
 display: -ms-flex;
 display: -o-flex;
 display: flex;
 justify-content: center;
 -webkit-flex-direction: column;
 -moz-flex-direction: column;
 -ms-flex-direction: column;
 -o-flex-direction: column;
 flex-direction: column;
 height: 55px;
}

.prorost-button{
  padding: 30px;
}

.first-col p{
  display: inline-block;
}

.first-col .button-blue{
  width: 92%;
  padding-bottom: 5px;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
}

.map_container .button-blue{
  background-size: 18px 18px;
  padding: 5px;
  padding-right: 25px;
  padding-left: 10px;
}

.digitsLabel{
  color: white;
  font-size: 14px;
  display: inline-block;
  margin-top: 10px;
}
.button-blue p{
  color: white;
  margin-bottom: 0;
}
.button-blue span{
  color: gray;
}


#prirost{
  font-weight: bold;
  position: absolute;
  font-size: 25px;
  bottom:2px;
  left: 10px;
}
#otklonenie,#prirost_value{
  font-weight: bold;
  font-size: 25px;

}

.piechart_container p{
  display: inline-block
}
#chart3{
  display: block;
  margin: 0 auto;
}



.axis .grid-line {
  stroke: #ccc;
  shape-rendering: crispedges;
  stroke-opacity: 0.2;
}
.tooltip_templates{
  display: none;
}

#matrixChart{
  position: relative;
}

.ind_names_button{
  color: white;
  font-size:13px;
  position: absolute;
  top: 80px;
  left: 13px;
  padding: 2px;
  cursor: pointer;
}

.pieChart{
  display: inline-block;
}
.commonPieChart{
  display: inline-block;
  vertical-align: top;
}
#pieChart{
  margin-left: 20px;
}
#commonPieChart{
  margin-left: 20px;
  margin-top: 10px;
}
.region-name-container{
  margin-top: 30px;
}
.region-name-container span {
  font-size: 16px;
  color:white;
}

.stack{
  display: block;
  width: 190px;
}